{% extends "base.html" %}
{% load openfruit_common_tags %}
{% load thumbnail %}
{% load staticfiles %}

{% block title %}OpenFruit - {{ cultivar.latin_name }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'browse' %}">Browse</a></li>
    <li><a href="{% url 'genus-list' kingdom=kingdom.latin_name %}">{{ kingdom.latin_name }}</a></li>
    <li><a href="{% url 'genus-detail' kingdom=kingdom.latin_name genus=genus.latin_name %}">{{ genus.latin_name }}</a></li>
    <li><a href="{% url 'species-detail' kingdom=kingdom.latin_name genus=genus.latin_name species=species.latin_name %}">{{ species.latin_name }}</a></li>
    <li class="active">{{ cultivar.name }}</li>
{% endblock %}
{% block body %}
    <h1>{{ cultivar.generated_name }}</h1>
    {% if request.user.is_staff %}
        <div>
            <br>
        </div>
        <hr>
    {% endif %}
{% endblock %}
