{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="search-bar">
<input id="cultivar-search" class="form-control typeahead" type="text" placeholder="Type Cultivar Here">
</div>
<hr>
<div class="detail">
<ul>
    <li><b>Cultivar: </b><span id="cultivar-name"></span></li>
    <li><b>Species: </b><span id="cultivar-species"></span></li>
    <li><b>Year Originated: </b><span id="cultivar-year"></span></li>
    <li><b>Uses: </b><span id="cultivar-uses"></span></li>
    <li><b>Ripening Window:</b><span id="cultivar-ripens-early"></span> - <span id="cultivar-ripens-late"></span></li>
    <li><b>Brief Description: </b><span id="cultivar-description"></span></li>
    <li><b>History: </b><span id="cultivar-history"></span></li>
    <li><b>Chromosomes: </b><span id="cultivar-chromosome"></span></li>
    <li><b>Parent A: </b><span id="cultivar-parent-a"></span></li>
    <li><b>Parent B: </b><span id="cultivar-parent-b"></span></li>
    <li>
        <span><b>Uses:</b></span>
        <ul id="uses-list"></ul>
    </li>
</ul>
</div>
    <h3>Location: <span id="cultivar-origin"></span></h3>
    <div id="map" class="google-map"></div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/typeahead.bundle.js' %}"></script>
    <script>
    $(document).ready(function(){
        var suggestion_key_to_obj = {};
        var process_cultivars = function(asyncResults, data, status){
            $('body').css('cursor', "default");
            var cultivars = data['results'];
            suggestion_key_to_obj = {};
            cultivars = Object.keys(cultivars).map(function(k) {
                var cultivar = cultivars[k];
                var key = cultivar['name'] + ' (' + cultivar['species'] + ')';
                suggestion_key_to_obj[key] = cultivar;
                return key
            });
            asyncResults(cultivars);
        };
        var search_for_cultivar = function(asyncResults){
            var token = 'JWT ' + '{{ token }}';
            var cultivar = $('#cultivar-search').val();
            var url = '/api/v1/cultivars/?name_contains=' + cultivar;
            $.ajax({
                url: url,
                data: {},
                type: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': token,
                  },
                success: function(data, status) { process_cultivars(asyncResults, data, status) },
                error: function(something){
                    console.log(something);
                }
            });
        };

        $('#cultivar-search').typeahead({minLength:3}, {
            minLength: 3,
            limit: 10,
            order: "asc",
            offset: true,
            hint: true,
            source:
                function(query, syncResults, asyncResults) {
                    // Get Token Then Conduct Query
                    $('body').css('cursor', "progress");
                    search_for_cultivar(asyncResults);
                }
        }).bind('typeahead:selected', function(event, suggestion){
          set_cultivar(suggestion);
        }).bind('keypress', function(){
        });

        var process_value = function(value) {
          if (value === undefined){
            value = '';
          }
          else if (value === null){
            value = '';
          }
          return value;
        };


        var set_cultivar = function(cultivar_key){
          var cultivar = suggestion_key_to_obj[cultivar_key];
          var location = cultivar['origin_location'];
          $('#cultivar-origin').text(location);
          if (location !== null){
            var location_value = '';
            var city = location['city'];
            var state = location['state'];
            var country = location['country'];
            var county = location['county'];
            var zip = location['zipcode'];
            if (zip !== null){
              location_value += zip;
            }
            else if (city !== null){
              location_value += city;
            }
            else if (county !== null){
              location_value += county;
            }
            else if (state !== null){
              location_value += state;
            }
            else if (country !== null){
              location_value += country;
            }
            var geocoordinate = location['geocoordinate'];
            update_map(geocoordinate);
            location_value += ' (' + geocoordinate + ')';
            $('#cultivar-origin').text(location_value);
          }

          $('#cultivar-name').text(process_value(cultivar['name']));
          $('#cultivar-species').text(process_value(cultivar['species']));
          $('#cultivar-year').text(process_value(cultivar['origin_year']));
          $('#cultivar-ripens-early').text(process_value(cultivar['ripens_early']));
          $('#cultivar-ripens-late').text(process_value(cultivar['ripens_late']));
          $('#cultivar-chromosome').text(process_value(cultivar['chromosome_count']));
          var uses_list = $('#uses-list');
          uses_list.empty();
          var uses = cultivar['uses'];
          for (var use of uses){
            uses_list.append('<li>' + use + '</li>');
          }
        };

      var map = null;
      var marker = null;

      function update_map(geocoordinate) {
        var lat, lon;
        var results = geocoordinate.split(" ");
        lat = results[0];
        lon = results[1];
        var latLon = new google.maps.LatLng( lat, lon);
        map.setCenter(latLon);
        marker.setMap(null);
        marker = new google.maps.Marker({
          position: latLon,
          map: map
        });
      }

      function initMap() {
        var uluru = {lat: {{ GM_SETTINGS.lat }}, lng: {{ GM_SETTINGS.lon }}};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: uluru
        });
        marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
      initMap();
      setTimeout(function(){
            google.maps.event.trigger(map, 'resize');
        }, 1000);
    })
    </script>
{% endblock %}
