{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="search-bar">
<input id="cultivar-search" class="form-control typeahead" type="text" placeholder="Type Cultivar Here">
</div>
<hr>
<div class="detail">
<ul>
    <li><b>Cultivar: </b><span id="cultivar-name"></span></li>
    <li><b>Species: </b><span id="cultivar-species"></span></li>
    <li><b>Origin: </b><span id="cultivar-origin"></span></li>
    <li><b>Year Originated: </b><span id="cultivar-year"></span></li>
    <li><b>Uses: </b><span id="cultivar-uses"></span></li>
    <li><b>Ripening Window:</b><span id="cultivar-ripens-early"></span> - <span id="cultivar-ripens-late"></span></li>
    <li><b>Brief Description: </b><span id="cultivar-description"></span></li>
    <li><b>History: </b><span id="cultivar-history"></span></li>
    <li><b>Chromosomes: </b><span id="cultivar-chromosome"></span></li>
    <li><b>Parent A: </b><span id="cultivar-parent-a"></span></li>
    <li><b>Parent B: </b><span id="cultivar-parent-b"></span></li>
</ul>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/typeahead.bundle.js' %}"></script>
    <script>
    $(document).ready(function(){
        var suggestion_key_to_obj = {};
        var process_cultivars = function(asyncResults, data, status){
            $('body').css('cursor', "default");
            var cultivars = data['results'];
            suggestion_key_to_obj = {};
            cultivars = Object.keys(cultivars).map(function(k) {
                var cultivar = cultivars[k];
                var key = cultivar['name'] + ' (' + cultivar['species'] + ')';
                suggestion_key_to_obj[key] = cultivar;
                return key
            });
            asyncResults(cultivars);
        };
        var search_for_cultivar = function(asyncResults){
            var token = 'JWT ' + '{{ token }}';
            console.log(token);
            var cultivar = $('#cultivar-search').val();
            $.ajax({
                url: '/api/v1/cultivars/?name_contains=' + cultivar,
                data: {},
                type: 'GET',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Authorization': token,
                  },
                success: function(data, status) { process_cultivars(asyncResults, data, status) },
                error: function(something){
                    console.log(status);
                    //console.log(something);
                }
            });
        };

        $('#cultivar-search').typeahead({minLength: 3,}, {
            minLength: 3,
            order: "asc",
            offset: true,
            hint: true,
            source:
                function(query, syncResults, asyncResults) {
                    // Get Token Then Conduct Query
                    $('body').css('cursor', "progress");
                    search_for_cultivar(asyncResults);
                    /*
                    $.ajax({
                        url: 'https://www.openfruit.io/api/v1/auth/token/',
                        data: {username:'dfnurseryapi', password:'dfnurseryapi'},
                        type: 'POST',
                        success: function(data, status){ search_for_cultivar(asyncResults, data, status) }
                    });
                    */
                }
        }).bind('typeahead:selected', function(event, suggestion){
          set_cultivar(suggestion);
        }).bind('keypress', function(){
            //console.log('Pressed: ' + $(this).val());
        });

        var set_cultivar = function(cultivar_key){
          var cultivar = suggestion_key_to_obj[cultivar_key];
          console.log(cultivar);
          var location = cultivar['origin_location'];
          $('#cultivar-origin').text(location);
          /*
           result = {
            'city': None,
            'state': None,
            'country': None,
            'zipcode': None,
            'geocoordinate': None,
        }
           */
          if (location !== null){
            var location_value = '';
            var city = location['city'];
            var state = location['state'];
            var country = location['country'];
            var county = location['county'];
            var zip = location['zipcode'];
            if (zip !== null){
              location_value += zip;
            }
            else if (city !== null){
              location_value += city;
            }
            else if (county !== null){
              location_value += county;
            }
            else if (state !== null){
              location_value += state;
            }
            else if (country !== null){
              location_value += country;
            }
            var geocoordinate = location['geocoordinate'];
            location_value += '(' + geocoordinate + ')';
            $('#cultivar-origin').text(location_value);
          }

          $('#cultivar-name').text(cultivar['name']);
          $('#cultivar-species').text(cultivar['species']);
          $('#cultivar-year').text(cultivar['origin_year']);
          $('#cultivar-ripens-early').text(cultivar['ripens_early']);
          $('#cultivar-ripens-late').text(cultivar['ripens_late']);
          $('#cultivar-chromosome').text(cultivar['chromosome_count']);

        };
    });
    </script>
{% endblock %}
