{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}OpenFruit - {% if is_add %}Add{% else%}Edit{% endif %} Species{% endblock %}

{% block breadcrumb %}
    <li><a href="{% url 'genus-list' kingdom='plantae' %}">Plantae</a></li>
    <li><a href="{% url 'genus-detail' kingdom=kingdom.latin_name genus=genus.latin_name %}">{{ genus.latin_name }}</a></li>
    <li class="active">{% if is_add %}Add{% else %}Edit{% endif %} Species</li>
{% endblock %}
{% block body %}
    <h1>{% if is_add %}Add{% else %}Edit{% endif %} Species</h1>
    <div>
        <form action="" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-default btn-lg" type="submit" value="Submit" />
            <input class="btn btn-primary btn-lg pull-right" name="add-new" type="submit" value="Submit Add Next" />
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ form.media }}
{% endblock %}