appdirs==1.4.3
boto==2.48.0
boto3==1.6.6
botocore==1.9.6
certifi==2018.1.18
chardet==3.0.4
defusedxml==0.5.0
dj-database-url==0.4.2
Django==1.11
-e git+https://github.com/django-admin-bootstrapped/django-admin-bootstrapped@30380f20cc82e898754e94b5d12cacafabca01bd#egg=django_admin_bootstrapped
django-allauth==0.35.0
django-appconf==1.0.2
django-auditlog==0.4.3
django-autocomplete-light==3.2.9
django-bootstrap3==8.2.2
django-classy-tags==0.8.0
django-colorful==1.2
django-compressor==2.2
django-cors-headers==2.1.0
django-crispy-forms==1.6.1
django-datetime-widget==0.9.3
-e git+https://github.com/macornwell/django-geo-db@a02d9abbab0cc54da05c6410548998430e834fb3#egg=django_geo_db
django-jsonfield==1.0.1
django-rest-auth==0.9.3
django-storages-redux==1.3.3
djangorestframework==3.6.4
djangorestframework-jwt==1.10.0
djangorestframework-queryfields==1.0.0
docutils==0.14
googlemaps==2.5.0
gunicorn==19.7.1
idna==2.6
itypes==1.1.0
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
mysqlclient==1.3.7
oauthlib==2.0.6
olefile==0.44
packaging==16.8
Pillow==4.1.1
PyJWT==1.5.0
pyparsing==2.2.0
python-dateutil==2.6.0
python3-openid==3.1.0
pytz==2017.2
rcssmin==1.0.6
requests==2.13.0
requests-oauthlib==0.8.0
rjsmin==1.0.12
s3transfer==0.1.13
six==1.10.0
sorl-thumbnail==12.3
uritemplate==3.0.0
urllib3==1.22
whitenoise==3.3.0
