@import url('https://fonts.googleapis.com/css?family=Lora');
/* Hacker Scheme */
/* Light Color Scheme */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
label {
  font-family: 'Lora';
  color: #000000;
}
#bootstrap-body {
  background-color: #e2e2e2;
  color: #777;
}
/*
Navigation
*/
.navbar {
  margin-bottom: 0;
}
.navbar-brand {
  color: #5F5F5F;
}
.nav-pills > li > .nav-btn,
nav li .unicode-icon span {
  color: #5F5F5F;
  background-color: #f8f8f8;
  border-color: #f8f8f8;
}
.nav-pills > li > .nav-btn {
  border-radius: 10px 10px 0 0;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  vertical-align: bottom;
  width: 50px;
  height: 50px;
  padding-left: 12px;
}
.nav-pills > li > .nav-btn i {
  color: #5F5F5F;
}
.nav-pills > li > .nav-btn .dashboard-direction {
  font-size: 20px;
  margin-left: 10px;
}
.nav-pills > li > .dropdown-toggle {
  padding-left: 9px;
}
.nav-pills > li > .dropdown-toggle i .nav-drop-caret {
  position: relative;
  left: -5px;
  top: 10px;
}
/*
.navbar-default .navbar-nav>li>a{
  color: @btn-navigation-font-color;
  border-color: #f8f8f8;
  border-radius: 10px 10px 0 0;
  font-size: 25px;
}
*/
nav li .unicode-icon span {
  font-size: 40px;
  position: relative;
  top: 6px;
  left: -4px;
  line-height: 0;
  background: transparent;
}
nav li .unicode-icon span :hover {
  color: black;
}
div .nav-btn:hover {
  background-color: #545454;
}
nav .dropdown-menu {
  width: 60px;
  min-width: 60px;
}
nav .dropdown-menu > li > a {
  height: 50px;
  font-size: 30px;
  color: #5F5F5F;
}
nav .dropdown-menu > li > a i {
  left: -4px;
  position: relative;
}
nav .dropdown-menu > li > a span {
  left: -8px;
  top: 3px;
  position: relative;
}
.flower-icon {
  height: 30px;
  margin-bottom: 10px;
}
/*
Reusable Components
*/
.contrast-banner {
  padding: 10px;
  background-color: #9E9E9E;
}
.list-thumbnail {
  height: 50px;
  width: 50px;
}
.thumbnail {
  height: 50px;
  width: 50px;
}
.large-radio {
  transform: scale(2);
  margin-left: 4px;
  margin-right: 4px;
}
/*
Google Maps
*/
.moving {
  background-color: darkgray;
}
/*
Taxonomy
*/
.plant-metadata {
  min-height: 300px;
}
.plant-featured-image {
  border: 1px;
  border-color: black;
  border-style: solid;
  width: 300px;
  height: 300px;
}
/*
Geography
*/
.google-map {
  height: 400px;
  width: auto;
}
.small-google-map {
  height: 200px;
  width: auto;
}
.google-map-large {
  height: 500px;
  width: auto;
}
.gmaps-label {
  background: white;
  color: black;
  font-size: 14px;
}
.info-link {
  padding-left: 5px;
}
/*
Autocomplete
*/
.select2-results {
  color: black;
}
/*
Events
*/
.event-btn {
  font-size: 30px;
  width: 55px;
  height: 55px;
  margin: 5px;
  color: #5F5F5F;
}
.event-section {
  background-color: #9E9E9E;
}
.toggled {
  background-color: darkgray;
}
.toggled :hover {
  background-color: darkgray;
}
.notes-area {
  width: 100%;
}
.current-location {
  font-size: 30px;
}
/*
Testing area
*/
.content-window {
  height: 100px;
  width: 200px;
}
.equal-table .table td,
.equal-table .table th {
  min-width: 100px;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1s;
}
/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
