{% extends "base.html" %}
{% load rest_framework %}
{% load staticfiles %}

{% load openfruit_common_tags %}

{% block title %}OpenFruit - The Definitive Community Source for Fruit Growers{% endblock %}


{% block  body %}
    <div id="location-block">
        <h3>{{ USER_PROFILE.location.name }}<span> {{ USER_PROFILE.location.geocoordinate }}</span></h3>
        <div id="location-map" class="google-map-large"></div>

        <h4>Filters by Species</h4>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" onclick="filterByType('ALL')">All</button>
            {% for species in species_list %}
                <button type="button" class="btn btn-default" onclick="filterByType('{{ species.species_id }}')">{{ species.name }}</button>
            {% endfor %}
        </div>

<!-- Modal -->
        <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                </div>
                <div class="modal-body">
                    <p>Create a new <span class="event-type"></span> record on this <span class="plant"></span>?</p>
                    <p>Do you want to proceed?</p>
                    <div class="form-group">
                        <label for="notes-input">Any Additional Notes? (Optional)</label>
                        <textarea id="notes-input" class="form-control notes-area"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btn-ok">Confirm</button>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/oms.min.js' %}"></script>
    <script src="{% static 'js/markerclusterer.js' %}"></script>
    <script src="{% static 'js/django_geo_db/utilities.js'%}"></script>
    <script src="{% static 'js/taxonomy/taxonomy-service.js' %}"></script>
    <script src="{% static 'js/reports/event/event-service.js' %}"></script>
    <script src="{% static 'js/easy_rest_data.js' %}"></script>
    <script src="{% static 'js/plantmenu.js' %}"></script>
    <script src="{% static 'js/format.js'%}"></script>
    <script>
        var map = null;
        var markers = [];
        var markerCluster = null;
        var userID = {{ user.id }};
        var userLocation = '{{ USER_PROFILE.location.name }}';
        var center = {lat: {{ USER_PROFILE.location.lat }}, lng:{{ USER_PROFILE.location.lon }}};
        var easyData = new openfruit.EasyRestData();
        var menuFactory = new openfruit.PlantMenuFactory();
        var utilities = new django_geo_db.GeoUtilities();
        var taxonomyService = new openfruit.taxonomy.TaxonomyService(easyData);
        var eventService = new openfruit.reports.event.EventService(easyData);
        var currentCenter = null;
        var currentZoom = null;
        var treeIcon = 'http://maps.google.com/mapfiles/kml/pal2/icon4.png';
        var usersFruits = {};
        var fruitsToDisplay = 'ALL';
        var moveButton = null;
        var lastOpenWindow = null;
        var movingOn = false;
        var canMoveObjects = false;
        var mapupdater;
        var insidePopup = false;
        var spiderfier;


        var speciesIDToIcon = {
            {% for species in species_to_icon %}
                {{  species.species_id }}: '{{ species.google_maps_image_url }}',
            {% endfor %}
        };

        {% for fruit in users_plants %}
            usersFruits[{{ fruit.fruiting_plant_id }}] = {
                fruiting_plant_id: {{ fruit.fruiting_plant_id }},
                manager_username: '{{ user.username }}',
                coordinate: '{{ fruit.geocoordinate }}',
                species: {{ fruit.species.species_id }},
                species_name: '{{ fruit.species.generated_name }}',
                icon_url: '{{ fruit.species.google_maps_image_url }}',
                {% if fruit.cultivar %}
                cultivar: {{ fruit.cultivar.cultivar_id }},
                cultivar_name: '{{ fruit.cultivar.generated_name }}',
                {% else %}
                cultivar: null,
                cultivar_name: null,
                {% endif %}
            };
        {% endfor %}


        var filterByType = function(speciesID){
            fruitsToDisplay = speciesID;
            refresh();
        };

        var addNewFruitingPlant = function(){
            window.location.href = 'fruiting-plant/?next=/&lat=' + currentCenter.lat() + '&lon=' + currentCenter.lng();
        };

        var setupCenterMarker = function(map){
            var crosshairShape = {coords:[0,0,0,0],type:'rect'};
            var centerMarker = new google.maps.Marker({
                map: map,
                icon: 'https://www.daftlogic.com/images/cross-hairs.gif',
                shape: crosshairShape,
                zIndex: google.maps.Marker.MAX_ZINDEX + 1
            });
            centerMarker.bindTo('position', map, 'center');
        };

        var moveFunction = function(){
            var moveButton = $('#move-button');
            canMoveObjects = !canMoveObjects;
            refresh();
        };

        var appendButton = function(map, className, onclick, icon) {
            classname = 'btn btn-lg btn-default';
            var div = document.createElement('div');

            var button = document.createElement('a');
            button.className = className;
            button.onclick = onclick;
            div.appendChild(button);

            var iconUI = document.createElement('i');
            iconUI.className = icon;
            button.appendChild(iconUI);
            button.index = 1;
            map.controls[google.maps.ControlPosition.BOTTOM_LEFT].push(button);
        };

        var addDefaultButtons = function(map) {
            appendButton(map, 'btn btn-lg btn-default', addNewFruitingPlant, 'fa fa-plus');
            appendButton(map, 'btn btn-lg btn-default', addNewLocation, 'fa fa-home');
            var moveClassName = 'btn btn-lg btn-default';
            if (canMoveObjects){
                moveClassName = 'btn btn-lg btn-default moving';
            }
            appendButton(map, moveClassName, moveFunction, 'fa fa-arrows');
        };

        var addNewLocation = function(map) {
            window.location.href = 'location/?next=/&lat=' + currentCenter.lat() + '&lon=' + currentCenter.lng();
        };


        function mapSettleTime() {
            if (!insidePopup){
                clearTimeout(mapupdater);
                mapupdater=setTimeout(requestMarkers, 500);
            }
        }

        var requestMarkers = function(){
            var bounds = map.getBounds();
            var ne = "" + bounds.getNorthEast();
            ne = ne.replace(/[\(\),]+/g, '');
            var sw = "" + bounds.getSouthWest();
            sw = sw.replace(/[\(\),]+/g, '');
            taxonomyService.getBoundingBoxOfFruit(setupMarkers, ne, sw);
        };

        var setupMarkers = function(plants){
          initializeMarkersAndCluster(map);
          for (var index in plants){
            var fruit = plants[index];
            (function(fruitingPlant){
                if (fruitsToDisplay === 'ALL' || fruitingPlant.species_id == fruitsToDisplay){
                    setupMarker(fruitingPlant, map);
                }
            })(fruit);
            }
        };

        var initializeMarkersAndCluster = function(map) {
            for(var i=0; i<markers.length; i++) {
                markerCluster.removeMarker(markers[i]);
            }
            if (markerCluster !== null){
                markerCluster.clearMarkers();
            }
            while (markers.length) {
                markers.pop();
            }
            markerCluster = new MarkerClusterer(map, markers, {
                imagePath: 'https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/images/m',
                maxZoom: 17
            });
            data = {
                position: center,
                map: map,
                title: userLocation,
                icon:'http://maps.google.com/mapfiles/kml/pal3/icon23.png'
            };

            var marker = new google.maps.Marker(data);
            markers.push(marker);
            markerCluster.addMarker(marker, true);
        };

        var refresh = function(){
            map = new google.maps.Map(document.getElementById('location-map'), {
                zoom: currentZoom,
                mapTypeId: 'hybrid',
                center: currentCenter,
                styles:
                  [
                    {
                      featureType: 'poi.business',
                      stylers: [{visibility: 'off'}]
                    },
                    {
                      featureType: 'transit',
                      elementType: 'labels.icon',
                      stylers: [{visibility: 'off'}]
                    }
                  ]
            });
            spiderfier = new OverlappingMarkerSpiderfier(map, {
                markersWontMove: true,
                markersWontHide: true,
                basicFormatEvents: true
            });
            map.markers = markers;

            initializeMarkersAndCluster(map);

            map.addListener('bounds_changed', function(){
                currentCenter = map.getCenter();
            });
            map.addListener('bounds_changed', mapSettleTime);
            map.addListener('zoom_changed', function(){
                currentZoom = map.getZoom();
            });
            data = {
                position: center,
                map: map,
                title: userLocation,
                icon:'http://maps.google.com/mapfiles/kml/pal3/icon23.png'
            };

            var marker = new google.maps.Marker(data);
            markers.push(marker);
            markerCluster.addMarker(marker, true);
            setTimeout(function(){google.maps.event.trigger(map, 'resize')}, 1000);

            setupCenterMarker(map);
            addDefaultButtons(map);
        };

        var clearMarkers = function() {
            while (markers.length){
                markers.pop().setMap(null);
            }
        };

        var setupMarker = function(fruitingPlant, map) {
            var coord = utilities.textCoordinateToGMapsDict(fruitingPlant.coordinate);

            var cultivar = fruitingPlant.cultivar_name;
            var name = fruitingPlant.species_name;
            if (cultivar !== '') {
                name = cultivar;
            }
            if (fruitingPlant.species in speciesIDToIcon){
                console.log('Found icon');
                console.log(speciesIDToIcon[fruitingPlant.species]);
                iconUrl = speciesIDToIcon[fruitingPlant.species];
            }
            else {
                console.log('No icon');
                iconUrl = treeIcon;
            }
            var data = {
                position: coord,
                draggable: canMoveObjects,
                map: map,
                title: userLocation,
                icon: iconUrl
            };
            var marker = new google.maps.Marker(data);
            //markers.push(marker);
            markerCluster.addMarker(marker, true);
            spiderfier.addMarker(marker);

            marker.addListener('dragend', function () {
                var position = marker.getPosition();
                var positionString = position.lat() + ' ' + position.lng();
                fruitingPlant.coordinate = positionString;
                taxonomyService.movedFruitingObject(fruitingPlant.fruiting_plant_id, positionString, successCallback = null, errorCallback = function () {
                    alert('Plant failed to move. Contact OpenFruit!');
                });
            });

            marker.addListener('spider_click', function () {
                insidePopup = true;
                eventService.getEvents(
                        function(objects){
                            var content = menuFactory.createMenu(fruitingPlant);
                            var summary = menuFactory.createEventSummary(objects);
                            var link = menuFactory.createDetailsLink(fruitingPlant);
                            content += summary;
                            content += link;
                            if (lastOpenWindow !== null) {
                                lastOpenWindow.close();
                            }
                            var infowindow = new google.maps.InfoWindow({
                                content: content
                            });
                            google.maps.event.addListener(infowindow,'closeclick',function(){
                                insidePopup = false;
                            });
                            infowindow.open(map, marker);
                            lastOpenWindow = infowindow;
                        },
                        function(){},
                        fruitingPlant.fruiting_plant_id,
                        null,
                        null,
                        ['Leafing Out', 'Blooming', 'Ripening']
                );
            });
        };

        $(document).ready(function(){

            //currentCenter = center.getLatLon();
            currentCenter = center;
            currentZoom = 19;
            refresh('ALL');

            var confirmDialog = $('#confirm');
            confirmDialog.on('click', '.btn-ok', function(e) {
                var $modalDiv = $(e.delegateTarget);
                var id = $(this).data('recordId');
                var eventType = $(this).data('eventType');

                var onSuccess = function(){
                    $modalDiv.modal('hide').removeClass('loading');
                };
                var onError = function(jqXHR, textStatus, errorThrown){
                    alert('Event did NOT save. Please contact OpenFruit support. Status: ' + textStatus + '<br>' + 'Error: ' + errorThrown);
                    $modalDiv.modal('hide').removeClass('loading');
                };
                eventService.createEventRecord(eventType, id, onSuccess, onError);
                if (lastOpenWindow !== null) {
                    lastOpenWindow.close();
                }
                if (eventType === 'Died'){
                    setInterval(function(){
                        window.location.reload();
                    }, 1000);
                }
            });
            confirmDialog.on('show.bs.modal', function(e) {
                var notes = $('#notes-input');
                notes.text('');
                notes.val('');
                var data = $(e.relatedTarget).data();
                $('.plant', this).text(data.plant);
                $('.event-type', this).text(data.eventType);
                $('.btn-ok', this).data('recordId', data.recordId);
                $('.btn-ok', this).data('eventType', data.eventType);
            });
        });
    </script>
{% endblock %}
