<nav>
  <div class="container">
    <a href="#home" class="navbar-brand"><i class="fa fa-globe" aria-hidden="true"></i>OpenFruit</a>
      <ul *ngIf="userIsLoggedIn()" class="nav nav-pills pull-right">
        <li><a data-toggle="tooltip" title="Browse" class=" btn btn-default btn-lg nav-btn" href="/browse">
          <i class="fa fa-book" aria-hidden="true"></i></a>
        </li>
        <li><a data-toggle="tooltip" title="This fruit tastes like..." class=" btn btn-default btn-lg nav-btn">
          <i class="fa fa-star" aria-hidden="true"></i></a>
        </li>
        <li class="dropdown-btn btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-default btn-lg dropdown-toggle nav-btn">
            <i class="fa fa-bars" aria-hidden="true">
              <span class="nav-drop-caret caret"></span>
            </i>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a data-toggle="tooltip" title="Configure" class="dropdown-item btn btn-default btn-lg nav-btn" href="/login">
                <i class="fa fa-gears" aria-hidden="true"></i>
              </a>
              <a (click)="logout()" data-toggle="tooltip" title="Logout" class="dropdown-item btn btn-default btn-lg nav-btn">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul *ngIf="!userIsLoggedIn()" class="nav nav-pills pull-right">
        <li>
          <a [routerLink]="['/login']" data-toggle="tooltip" title="Login" class="dropdown-item btn btn-default btn-lg nav-btn">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
  </div>
</nav>
