{% extends "base.html" %}
{% load rest_framework %}
{% load staticfiles %}

{% load openfruit_common_tags %}

{% block title %}OpenFruit - The Definitive Community Source for Fruit Growers{% endblock %}

{% block  body %}
<p>
                    Understanding how fruits perform in the real world can be challenging and is an on-going
                    experiment for many.  Traditional sources of information do not provide any level
                    of insight of how fruits are going to perform for us on a localized basis.
</p>
<p>
                    OpenFruit seeks to utilize the power of digital communities to provide a common grounds
                    for fruit information.
</p>
{% endblock %}