{% extends "base.html" %}
{% load rest_framework %}
{% load staticfiles %}

{% load openfruit_common_tags %}

{% block title %}OpenFruit - Fruit Information Platform for the 21st Century{% endblock %}

{% block  body %}
    <h2>Why</h2>
    <p>
        Understanding how fruits perform in the real world can be challenging and is an on-going
        experiment for many.  Traditional sources of information do not provide any level
        of insight of how fruits are going to perform for us on a localized basis.
    </p>
    <p>
        OpenFruit seeks to utilize the power of digital communities to provide a common grounds
        for fruit information.
    </p>
    <h2>OpenFruit</h2>
    <ol>
        <li>
            Keep track of important information. Like your growing statistics.
        </li>
        <li>
            A current and follow on generation who will know and understand fruiting and useful plants, better than any human before them. With some work, in a fraction of the time.
            <span><strong>How:</strong>By giving humans, to including ourselves, access to most intelligent fruit science database and aggregated system ever built.</span>
        </li>
        <li>
            A platform for others to build upon. The platform allows creativity to use the available data for overall betterment.
            <span><strong>How:</strong>Linking together living data. People, events and life.</span>
        </li>
        <li>
            Be able to compare if what you do, is what you should be doing.
            <span><strong>How:</strong>By being able to examine what data show.</span>
        </li>
    </ol>
{% endblock %}
