{% load rest_framework %}
{% load openfruit_common_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href=' http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/datetimepicker.css">
    <script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}{% endblock head %}
</head>

<body  id="bootstrap-body">
<nav class="">
  <div class="container">
      <a href="{% url 'home' %}" class="navbar-brand"><i class="fa fa-globe" aria-hidden="true"></i>OpenFruit</a>
    <div>
        <ul class="nav nav-pills pull-right">
            {% if user.is_authenticated %}
                {% comment %}
                <li>
                    <a class="btn btn-default btn-lg nav-btn" data-toggle="tooltip" title="You planted one." href="{% url 'plant' %}">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>
                    </a>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle btn btn-lg btn-default nav-btn" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                       <i class="fa fa-binoculars" aria-hidden="true">
                           <span class="nav-drop-caret caret"></span>
                       </i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="tooltip" title="It leafed out" class=" btn btn-default btn-lg nav-btn" href="{% url 'leaf' %}">
                            <i class="fa fa-leaf" aria-hidden="true"></i></a>
                        </li>
                        <li><a data-toggle="tooltip" title="Blooms are coming out." class="unicode-icon  btn btn-default btn-lg nav-btn" href="{% url 'bloom' %}">
                            <span>&#x273F</span></a>
                        </li>
                        <li><a data-toggle="tooltip" title="The fruit looks ripe." class=" btn btn-default btn-lg nav-btn" href="{% url 'ripe' %}">
                            <i class="fa fa-apple" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </li>
            {% endcomment %}
                <li><a data-toggle="tooltip" title="Home" class=" btn btn-default btn-lg nav-btn"
                       href="{% url 'home' %}">
                    <i class="fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li><a data-toggle="tooltip" title="Browse" class=" btn btn-default btn-lg nav-btn" href="{% url 'browse' %}">
                    <i class="fa fa-book" aria-hidden="true"></i></a>
                </li>
                <li><a data-toggle="tooltip" title="Search" class="btn btn-default btn-lg nav-btn"
                       href="{% url 'fruit-search' %}"
                >
                    <i class="fa fa-search" aria-hidden="true"></i></a>
                </li>
                <li><a data-toggle="tooltip" title="This fruit tastes like..." class=" btn btn-default btn-lg nav-btn">
                    <i class="fa fa-star" aria-hidden="true"></i></a>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle btn btn-default btn-lg nav-btn" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars" aria-hidden="true">
                            <span class="nav-drop-caret caret"></span>
                        </i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="tooltip" title="Configure" class=" btn btn-default btn-lg nav-btn" href="{% url 'admin:login' %}">
                            <i class="fa fa-gears" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-submenu">
                            {% openfruit_logout request user %}
                        </li>
                    </ul>
                </li>


            {% else %}
            <li >
                {% openfruit_login request %}
            </li>
            {% endif %}
          </ul>

        <!--
         <form class="navbar-form">
            <div class="form-group" style="display:inline;">
              <div class="input-group" style="display:table;">
                <span class="input-group-addon" style="width:1%;">
                    <a href="">

                    <span class="glyphicon glyphicon-search">
                    </span>
                    </a>
                </span>
                <input class="form-control" name="search" placeholder="Search Here" autocomplete="off" autofocus="autofocus" type="text">
              </div>
            </div>
          </form>
          -->

    </div><!--/.nav-collapse -->
  </div>
</nav>


{# BODY. Where everything should go #}
  <div class="main-body">
    <div class="container">
        <div id="record-row">
            <div class="row">
                <!--
                <a data-toggle="tooltip" title="You planted one." class="unicode-icon col-xs-1 btn btn-default btn-lg nav-btn"  href="{% url 'plant' %}">
                    &#x2692</a>
                <a data-toggle="tooltip" title="It leafed out" class="col-xs-1 btn btn-default btn-lg nav-btn" href="{% url 'leaf' %}">
                    <i class="fa fa-leaf" aria-hidden="true"></i></a>
                <a data-toggle="tooltip" title="Blooms are coming out." class="unicode-icon col-xs-1 btn btn-default btn-lg nav-btn" href="{% url 'bloom' %}">
                    &#x273F</a>
                <a data-toggle="tooltip" title="The fruit looks ripe." class="col-xs-1 btn btn-default btn-lg nav-btn" href="{% url 'ripe' %}">
                    <i class="fa fa-apple" aria-hidden="true"></i></a>
                <a data-toggle="tooltip" title="This fruit tastes like..." class="col-xs-1 btn btn-default btn-lg nav-btn">
                    <i class="fa fa-star" aria-hidden="true"></i></a>
                <a data-toggle="tooltip" title="Configure" class="col-xs-1 btn btn-default btn-lg nav-btn" href="{% url 'browse' %}">
                    <i class="fa fa-gears" aria-hidden="true"></i></a>
                -->
            </div>
        </div>
        <ol class="breadcrumb">
            {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">Dashboard</a></li>
            {% else %}
                <li><a href="{% url 'home' %}">Home</a></li>
            {% endif %}
            {% block breadcrumb %}
            {% endblock %}
        </ol>
        <div class="body-container">
            {% block body %}
            {% endblock body %}
        </div>
    </div>
  </div>
  <footer>
      <div class="text-center">
          <div>
            Copyright OpenFruit© 2017
          </div>
          <div>
            <a href="{% url "about" %}">About</a>
          </div>
          <div>
              <a href="{% url "terms-of-service" %}">Terms of Service</a>
          </div>
          <div>
              <a href="{% url "privacy-policy" %}">Privacy Policy</a>
          </div>
      </div>
  </footer>

{# Main Frame Libraries #}
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>
<!-- Latest compiled and minified JavaScript -->

<script>
    /*
    $(document).ready(function(){
        var mainIcon = $('.nav-btn');
        mainIcon.tooltip({ show: { effect: "blind", duration: 800 } });

    })
    */
</script>
{% block scripts %}
{% endblock %}

</body>
</html>
