{% extends "base.html" %}
{% load rest_framework %}
{% load staticfiles %}

{% load openfruit_common_tags %}

{% block title %}OpenFruit - Fruit Information Platform for the 21st Century{% endblock %}

{% block  body %}
<div class="homepage">
    <h1>Fruit Meets Big Data</h1>
    <div class="section-padding">
        OpenFruit is a platform for developing applications that use information about fruiting plants. Researchers,
        enthusiasts, farmers, and agricultural businesses who are looking for a one stop shop for
        comprehensive information about fruit varieties will find OpenFruit is the place.
    </div>
    <div class="bg-primary section-padding">
        <div>
            <h3 class="bg-primary">Primary Features</h3>
        </div>
        <div class="row">
            <div class="col-xs-4 ">
                Database of Fruit Cultivars <br>
                (Current Count: {{ cultivar_count }})
            </div>
            <div class="col-xs-4">
                API for Programmatic Use <br>
                (REST API for Development)
            </div>
            <div class="col-xs-4">
                Geo-Location Enabled <br>
                (Locations: {{ location_count }})
            </div>
        </div>
    </div>
    <div class="center-block section-padding">
        <h2>Want Access? Inquire Below.</h2>
        <p>The OpenFruit API is open for use. Inquire below for access.</p>
        <div class="col-sm-4"></div>
        <div class="col-sm-5">
            <a class="btn btn-lg btn-primary" href="mailto:service@gnutech.io?subject=OpenFruit Access&body=Hello%20OpenFruit%2C%0D%0AI%20would%20like%20to%20gain%20access%20to%20the%20OpenFruit%20database.%0D%0ASincerely%2C%0D%0A%28YOUR%20NAME%29">
                Click Here to Get Access</a>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
