{% extends "base.html" %}
{% block body %}
    <div>
        <h1>
            Privacy Statement
        </h1>
        <h3>
            SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?
        </h3>
        <p>

        When you use OpenFruit we collect the information that you give us to include records about your
        fruiting plants. We aggregate this information and use it to help other growers and potential growers have
        better success with growing fruit trees.
        </p>
        <h3>
            SECTION 2 - CONSENT
        </h3>
        <p>
        When you provide us with information to use in this system it acts as consent to use the information for
        the purposes of OpenFruit. Any other information that is collected, we will ask you directly which will provide
        the opportunity to say no.
        </p>
        <h3>
            SECTION 3 - DISCLOSURE
        </h3>
        <p>
        We will no provide your personal information to any entity outside of OpenFruit unless required by law or if
        in violation of our Terms of Service.
        </p>

        <h3>
        SECTION 4 - THIRD-PARTY SERVICES
        </h3>
        <p>
        Information collected by OpenFruit is used to power other fruit and research based applications. This information
        does not have personal information attached to it.
        </p>

            <h3>

    SECTION 5 - SECURITY
            </h3>
        <p>

        To protect your personal information, we take reasonable precautions and follow industry best practices to
        make sure it is not inappropriately lossed, misused, accessed, disclosed, altered, or destroyed.
        </p>

        <h3>
    SECTION 6 - AGE OF CONSENT
        </h3>
        <p>

        By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
        </p>

        <h3>

    SECTION 7 - CHANGES TO THIS PRIVACY POLICY
        </h3>
        <p>

        We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.
        </p>

        <h3>

    QUESTIONS AND CONTACT INFORMATION
        </h3>

        <p>

    If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at info@openfruit.io.
        </p>
    </div>

{% endblock %}
