{% extends "base.html" %}
{% load rest_framework %}
{% load staticfiles %}
{% load openfruit_common_tags %}
{% load crispy_forms_tags %}

{% block title %}OpenFruit - Signup{% endblock %}
{% block  body %}

    <h1>Signup for OpenFruit</h1>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
             {{ form|crispy }}
            <div class="g-recaptcha" data-sitekey="6LdkER8UAAAAAE7YK0SkbBxWJ23zX5tpGQ_cpRs1"></div>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function(){
            var curatorCheckbox = $('#id_request_to_be_a_curator');
            var curatorSection = $('#div_id_reason_to_be_curator');
            curatorSection.hide();
            curatorCheckbox.click(function() {
                $('#div_id_reason_to_be_curator')[this.checked ? "show" : "hide"]();
            });
        });
    </script>
{% endblock %}