{% extends "base.html" %}
{% load static openfruit_common_tags %}
{% block body %}
    <!-- Trigger the modal with a button -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
          <div id="map" class="google-map"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<h1>Cultivar Filter and Search</h1>
<div id="search">
    <label>Species</label>
    <input id="species" placeholder="Apple" class="form-control">
    <div class="row">
        <div class="col-xs-6">
            <label>Ripening Low</label>
            <select id="ripening-low" class="form-control">
                <option>---</option>
                {% for value, month in RIPENINGS %}
                    <option value="{{ value }}">{{ month }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-6">
            <label>Ripening High</label>
            <select id="ripening-high" class="form-control">
                <option>---</option>
                {% for value, month in RIPENINGS %}
                <option value="{{ value }}">{{ month }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <label>State</label>
    <select id="state" class="form-control">
        <option>---</option>
        {% for state in STATES %}
            <option value="{{ state.name }}">{{ state.name }}</option>
        {% endfor %}
    </select>
    <div class="row">
        <div class="col-xs-6">
            <label>Year From</label>
            <input id="year-low" type="number" class="form-control">
        </div>
        <div class="col-xs-6">
            <label>Year To</label>
            <input id="year-high" type="number" class="form-control">
        </div>
    </div>
    <h3>Use</h3>
    {% multi_checkbox 'use' 'use' USES %}

    <label>Chromosomes</label>
    <select id="chromosome" class="form-control">
    {% for c in CHROMOSOMES %}
        <option value="{{ c }}">{{ c }}</option>
    {% endfor %}
    </select>

    <label>Book References</label>
    <select id="books" multiple class="form-control">
        {% for book in BOOK_REFERENCES %}
            <option value="{{ book.book_id }}">{{ book.title }}</option>
        {% endfor %}
    </select>
    <a id="books_clear" class="btn btn-xs btn-warning">clear</a>
    <br>
    <label>Disease Resistance</label>
    <select id="disease" multiple class="form-control">
        {% for type in DISEASE_TYPES %}
            <option value="{{ type }}">{{ type }}</option>
        {% endfor %}
    </select>
    <a id="disease_clear" class="btn btn-xs btn-warning">clear</a>
</div>
<hr>
<div id="results">
<h2>Results (<span id="found-count"></span> found)</h2>
<div class="table-responsive">
<table id="results-table" class="table table-striped table-condensed table-hover table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Origin</td>
            <td>Uses</td>
        </tr>
    </thead>
    <tbody id="results-tbody">
    </tbody>
</table>
</div>
<a disabled id="back-btn" class="btn btn-primary col-xs-6">Back</a>
<a disabled id="forward-btn" class="btn btn-primary col-xs-6">Forward</a>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/taxonomy/taxonomy-service.js' %}"></script>
<script src="{% static 'js/easy_rest_data.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/r-2.2.1/datatables.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function(){
      $('#found-count').text(0);
      var back_url = null;
      var forward_url = null;

      var search = function(){
        var ripening_high = $('#ripening-high').val();
        if (ripening_high === '---'){
          ripening_high = '';
        }
        var ripening_low = $('#ripening-low').val();
        if (ripening_low === '---'){
          ripening_low = '';
        }
        var year_low = $('#year-low').val();
        var year_high = $('#year-high').val();
        var state = $('#state').val();
        if (state === '---'){
          state = null;
        }
        var use_list = $('.use:checked');
        var uses = '';
        use_list.each(function(x){
          var use = $(use_list[x]);
          uses += use.val();
          uses += ',';
        });
        if (uses.length > 1){
          uses = uses.slice(0, uses.length - 1);
        }
        var books = $('#books').val();

        var species = $('#species').val();
        if (species !== null && species !== undefined && species !== ""){
          species = species_key_to_species[species];
          species = species['latin_name']
        }
        else{
          species = null;
        }
        var chromosomes = $('#chromosome').val();
        var resistances = $('#disease').val();
        console.log(resistances);

        taxonomy_service.searchCultivars(species, ripening_high, ripening_low,
          year_high, year_low, state, uses, books, chromosomes, resistances, process_results)
      };

      var process_results = function(data){
        var totalCount = data[0];
        $('#found-count').text(totalCount);
        forward_url = data[1];
        back_url = data[2];
        update_forward_and_back_btn();
        var items = data[3];
        fill_table(items);
      };

      var update_forward_and_back_btn = function(){
        if (forward_url === null){
          $('#forward-btn').attr("disabled", true);
        }
        else {
          $('#forward-btn').attr('disabled', false);
        }
        if (back_url === null){
          $('#back-btn').attr('disabled', true);
        }
        else {
          $('#back-btn').attr('disabled', false);
        }
      };

      var read_location = function(location_data){
        var locationValue = '';
        if (location_data === null || location_data === undefined){
          return locationValue;
        }
        var state = location_data['state'];
        var county = location_data['county'];
        var city = location_data['city'];
        if (city !== null){
          locationValue += city;
        }
        else if (county !== null){
          locationValue += county;
        }
        else if (state !== null){
          locationValue += state;
        }

        return locationValue;
      };

      var read_uses = function(use_list){
        var use_string = '';
        for (idx in use_list){
          obj = use_list[idx];
          use_string += obj + ', ';
        }
        if (use_string.length > 1){
          use_string = use_string.slice(0, use_string.length - 2);
        }

        return use_string;
      };

      var create_gmaps_button = function(obj, location_string){
        if (location_string === ''){
          return '';
        }

        var html = '<a href="#" data-toggle="modal" data-target="#myModal" ';
        html += ' data-coordinate="' + obj.origin_location.geocoordinate +'"';
        html += ' data-title="' + location_string +'"';
        html += ' class="map-button btn btn-xs btn-warning pull-right">map</a>';
        return html;
      };

      var fill_table = function(data){
        var tableBody = $('#results-table tbody');
        $('#results-table tbody tr').remove();
        for (idx in data){
          obj = data[idx];
          var row = '<tr>';

          row += '<td>' + obj.generated_name + '</td>';
          var location = read_location(obj.origin_location);
          row += '<td>' + location + " " + create_gmaps_button(obj, location) + '</td>';
          row += '<td>' + read_uses(obj.uses) + '</td>';
          row += '</tr>';
          tableBody.append(row);
        }
        $('.map-button').click(function(){
          var title = $(this).data('title');
          var coordinate = $(this).data('coordinate');
          var modalTitle = title + ' (' + coordinate + ')';
          $(".modal-title").text(modalTitle);
          $(".modal-body coordinate").text(coordinate);
          update_map(coordinate);
        });
      };

      var easy_data = new openfruit.EasyRestData();
      var taxonomy_service = new openfruit.taxonomy.TaxonomyService(easy_data);
      var species_key_to_species = {};
      var selected_species = null;
      $( "#species" ).autocomplete({
        minLength: 3,
        select: function( event, ui ) {
          var suggestion = ui['item']['value'];
          selected_species = species_key_to_species[suggestion];
        },
        source: function(value, response_callback ) {
          var species = value['term'];
          taxonomy_service.searchSpecies("{{ TOKEN }}", species, function(species_list, key_to_species){
            species_key_to_species = key_to_species;
            response_callback(species_list)
          });
        }
      });

      $('input, select').change(function(){
        search();
      });

      var map = null;
      function update_map(geocoordinate) {
        var lat, lon;
        var results = geocoordinate.split(" ");
        lat = results[0];
        lon = results[1];
        var latLon = new google.maps.LatLng( lat, lon);
        map.setCenter(latLon);
        marker.setMap(null);
        marker = new google.maps.Marker({
          position: latLon,
          map: map
        });
      }

      function initMap() {
        var uluru = {lat: {{ GM_SETTINGS.lat }}, lng: {{ GM_SETTINGS.lon }}};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: uluru
        });
        marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }


      var forward = function(){
        $.get(forward_url, function(data){
          objs = [];
          _.each(data, function(obj){
            objs.push(obj);
          });
          process_results(objs);
        });
      };

      var back = function(){
        $.get(back_url, function(data){
          objs = [];
          _.each(data, function(obj){
            objs.push(obj);
          });
          process_results(objs);
        });
      };

      initMap();
      setTimeout(function(){
            google.maps.event.trigger(map, 'resize');
        }, 1000);
      $('#disease_clear').click(function(){
        $('#disease option:selected').removeAttr("selected");
        search();
      });
      $('#books_clear').click(function(){
        $('#books option:selected').removeAttr("selected");
        search();
      });
      $('#forward-btn').click(function(){
        forward();
      });
      $('#back-btn').click(function () {
        back();
      });
    });
</script>
{% endblock %}
