{% extends "base.html" %}
{% load static openfruit_common_tags %}
{% block body %}
<h1>Cultivar Filter and Search</h1>
<div id="search">
    <label>Species</label>
    <input id="species" placeholder="Apple" class="form-control">
    <div class="col-xs-6">
        <label>Ripening Low</label>
        <select id="ripening-low" class="form-control">
            <option>---</option>
            {% for value, month in RIPENINGS %}
                <option value="{{ value }}">{{ month }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-xs-6">
        <label>Ripening High</label>
        <select id="ripening-high" class="form-control">
            <option>---</option>
            {% for value, month in RIPENINGS %}
            <option value="{{ value }}">{{ month }}</option>
            {% endfor %}
        </select>
    </div>
    <label>State</label>
    <select id="state" class="form-control">
        <option>---</option>
        {% for state in STATES %}
            <option value="{{ state.name }}">{{ state.name }}</option>
        {% endfor %}
    </select>
    <div class="col-xs-6">
        <label>Year From</label>
        <input id="year-low" type="number" class="form-control">
    </div>
    <div class="col-xs-6">
        <label>Year To</label>
        <input id="year-high" type="number" class="form-control">
    </div>
    <label>Use</label>
    {% multi_checkbox 'use' 'use' USES %}

    <label>Book References</label>
    <select id="books" multiple class="form-control">
        {% for book in BOOK_REFERENCES %}
            <option value="{{ book.book_id }}">{{ book.title }}</option>
        {% endfor %}
    </select>
    <a id="submit" href="#" class="btn btn-default btn-primary">Submit</a>
</div>
<hr>
<div id="results">
<table id="results-table" class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Origin</td>
            <td>Uses</td>
        </tr>
    </thead>
    <tbody id="results-tbody">
    </tbody>
</table>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/taxonomy/taxonomy-service.js' %}"></script>
<script src="{% static 'js/easy_rest_data.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/r-2.2.1/datatables.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function(){
      var search = function(){
        var ripening_high = $('#ripening-high').val();
        if (ripening_high === '---'){
          ripening_high = '';
        }
        var ripening_low = $('#ripening-low').val();
        if (ripening_low === '---'){
          ripening_low = '';
        }
        var year_low = $('#year-low').val();
        var year_high = $('#year-high').val();
        var state = $('#state').val();
        if (state === '---'){
          state = null;
        }
        var use_list = $('.use:checked');
        var uses = '';
        use_list.each(function(x){
          var use = $(use_list[x]);
          uses += use.val();
          uses += ',';
        });
        if (uses.length > 1){
          uses = uses.slice(0, uses.length - 1);
        }
        console.log(uses);
        var books = $('#books').val();

        var species = $('#species').val();
        if (species !== null && species !== undefined && species !== ""){
          species = species_key_to_species[species];
          species = species['latin_name']
        }
        else{
          species = null;
        }

        console.log('Species: ' + species);
        console.log('R High: ' + ripening_high);
        console.log('R Low: ' + ripening_low);
        console.log('Y High: ' + year_high);
        console.log('Y Low: ' + year_low);
        console.log('State: ' + state);
        console.log('Uses: ' + uses);
        console.log('Books: ' + books);
        taxonomy_service.searchCultivars(species, ripening_high, ripening_low,
          year_high, year_low, state, uses, books, process_results)
      };

      var process_results = function(data){
        console.log(data);
        var totalCount = data[0];
        var nextUrl = data[1];
        var items = data[3];
        fill_table(items);
      };

      var read_location = function(location_data){
        var locationValue = '';
        if (location_data === null || location_data === undefined){
          return locationValue;
        }
        var state = location_data['state'];
        var county = location_data['county'];
        var city = location_data['city'];
        if (city !== null){
          locationValue += city + ', ' + state;
        }
        else if (county !== null){
          locationValue += county + ' County, ' + state;
        }
        else if (state !== null){
          locationValue += state;
        }

        return locationValue;
      };

      var read_uses = function(use_list){
        var use_string = '';
        for (idx in use_list){
          obj = use_list[idx];
          console.log(obj);
          use_string += obj + ', ';
        }
        if (use_string.length > 1){
          use_string = use_string.slice(0, use_string.length -1);
        }
        console.log(use_string);

        return use_string;
      };

      var fill_table = function(data){
        var tableBody = $('#results-table tbody');
        $('#results-table tbody tr').remove();
        for (idx in data){
          obj = data[idx];
          var row = '<tr>';
          row += '<td>' + obj.name + '</td>';
          row += '<td>' + read_location(obj.origin_location) + '</td>';
          row += '<td>' + read_uses(obj.uses) + '</td>';
          row += '</tr>';
          tableBody.append(row);
        }
      };

      $('#results-table').DataTable();
      var easy_data = new openfruit.EasyRestData();
      var taxonomy_service = new openfruit.taxonomy.TaxonomyService(easy_data);
      var species_key_to_species = {};
      var selected_species = null;
      $( "#species" ).autocomplete({
        minLength: 3,
        select: function( event, ui ) {
          var suggestion = ui['item']['value'];
          selected_species = species_key_to_species[suggestion];
        },
        source: function(value, response_callback ) {
          var species = value['term'];
          taxonomy_service.searchSpecies("{{ TOKEN }}", species, function(species_list, key_to_species){
            species_key_to_species = key_to_species;
            response_callback(species_list)
          });
        }
      });

      $('#submit').click(search);
    });
</script>
{% endblock %}
